.theClassnme {
  font-size: 43rpx;
  font-weight: bold;
  color: #565552;
  text-align: center;
  margin-top: 22rpx;
}

.teacherName {
  font-size: 33rpx;
  font-weight: 400;
  color: #3d3d3d;
  text-align: center;
  margin-top: 15rpx;
  margin-bottom: 27rpx;
}

.classInfo .p {
  font-size: 29rpx;
  font-weight: 400;
  color: #3d3d3d;
  margin-left: 47rpx;
  margin-bottom: 36rpx;
}

.classInfo Text {
  font-size: 29rpx;
  font-weight: 400;
  color: #3d3d3d;
}
.line-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20rpx;
  &::before,
  &::after {
    content: '';
    width: 27%;
    height: 4rpx;
    background-color: orange;
    position: absolute;
  }
  &::before {
    left: 5%;
  }
  &::after {
    right: 5%;
  }
}
.canvas-container {
  width: 100%;
  height: 500px;
}
