.tab_bar_container {
  margin-top: 25%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.tab_bar_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16rpx;
}

.tab_bar_icon_wrapper {
  display: flex;
  height: 120rpx;
  width: 120rpx;
  align-items: center;
  justify-content: center;
  border-radius: 40rpx;
  background-color: #fffaec;
  box-shadow: 0 12rpx 20rpx -4rpx rgba(0, 0, 0, 0.2);
}

.tab_bar_text {
  font-size: 36rpx;
  line-height: 1.5;
}
