.faq-wrapper {
  width: 100%;
  box-sizing: border-box;
  border-radius: 24rpx;
  background-color: #e5e7eb;
  margin-bottom: 24rpx;
}

.faq-wrapper.expanded {
  background-color: #fff6e5;
  border: 2rpx solid #f2a93b;
  .icon-wrapper {
    background-color: #f9b94f;
  }
  .icon-wrapper .at-icon {
    transform: rotate(0deg);
  }
}

.faq-title {
  display: flex;
  align-items: center;
  padding: 24rpx 28rpx;
}

.icon-wrapper {
  width: 34rpx;
  height: 34rpx;
  margin-right: 16rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #484848;
  transition: background-color 0.2s ease;
}

.icon-wrapper .at-icon {
  transition: transform 0.2s ease;
}

.faq-text {
  flex: 1;
  font-size: 28rpx;
  color: black;
}

.faq-content {
  width: 100%;
  box-sizing: border-box;
  padding: 0 28rpx 28rpx 28rpx;
  animation: fadeSlideIn 0.2s ease both;
}

.faq-content .faq-text {
  font-size: 28rpx;
  color: #666;
  line-height: 1.5;
  margin-left: 50rpx;
  display: block;
}

.faq-content .faq-wrapper {
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
}

.faq-content > .faq-wrapper {
  background-color: #fff;
  border: 2rpx solid #eda335;
  border-radius: 24rpx;
  padding: 16rpx 0rpx;
}

.faq-footer {
  display: flex;
  flex-direction: column;
  padding: 0 28rpx 24rpx;
  margin-top: 16rpx;
}

.faq-lines {
  display: flex;
  align-items: center;
  margin-bottom: 16rpx;
  white-space: nowrap;
  gap: 12rpx;
}

.faq-lines .faq-text {
  flex: 1;
  font-size: 28rpx;
  color: #9e9e9e;
}

.line {
  flex: 1;
  height: 1rpx;
  background-color: #9e9e9e;
}

.faq-status-container {
  width: 100%;
  margin-top: 24rpx;
}

.status-buttons {
  display: flex;
  justify-content: space-around;
  gap: 72rpx;
  width: 100%;
}

.status-button {
  padding: 12rpx 64rpx;
  border-radius: 32rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 26rpx;
  transition: all 0.2s;

  .at-icon {
    margin-right: 6rpx;
    transform: scale(0.9);
    transition: transform 0.2s ease;
  }

  &.unresolved {
    border: 2rpx solid #e44e7d;
    color: #e44e7d;

    &.selected {
      background-color: #e44e7d;
      color: #ffffff;
    }
  }

  &.resolved {
    border: 2rpx solid #f2a93b;
    color: #f2a93b;

    &.selected {
      background-color: #f2a93b;
      color: #ffffff;
    }
  }

  .btn-text {
    font-size: 28rpx;
  }
}

.modal-title {
  font-size: 32rpx;
  font-weight: 600;
  color: #111827;
  line-height: 32rpx;
}

.modal-content {
  margin-top: 16rpx;
  font-size: 28rpx;
  line-height: 42rpx;
  color: #374151;
}

@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(-6rpx);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
