.label {
  width: 145rpx;
  height: 53rpx;
  border-radius: 14rpx 14rpx 14rpx 14rpx;
  font-family:
    Segoe UI,
    Segoe UI;
  font-weight: bold;
  font-size: 22rpx;
  line-height: 53rpx;
  text-align: center;
  font-style: normal;
  text-transform: none;
  margin-right: 27.17rpx;
  background: #f9f9f2;
  color: #a5a29c;
}

.active {
  background-color: #ffd777;
  color: white;
}

.classLine {
  margin-left: 45.29rpx;
  margin-top: 75rpx;
  display: flex;
  margin-bottom: 70rpx;
}

// .main .bigcomment {
//   margin: 60rpx 0;
// }
