.label {
  width: 145rpx;
  height: 62rpx;
  border-radius: 24rpx;
  font-family: SourceHanSans;
  font-weight: bold;
  font-size: 28rpx;
  line-height: 62rpx;
  text-align: center;
  font-style: normal;
  text-transform: none;
  background: #fffaec;
  color: #3d3d3d;
}

.active {
  background-color: #eda335;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  color: white;
}

.classLine {
  margin-top: 35rpx;
  display: flex;
  margin-bottom: 35rpx;
  justify-content: center;
  width: 100%;
  gap: 28rpx;
}
