.label3 {
  width: max-content;
  background: #f9b94f;
  // box-shadow: 0rpx 5rpx 11rpx 2rpx rgba(0, 0, 0, 0.16);
  border-radius: 16rpx 16rpx 16rpx 16rpx;
  opacity: 1;
  font-size: 25rpx;
  font-family:
    Segoe UI-Regular,
    Segoe UI;
  font-weight: 400;
  color: #ffffff;
  padding: 7rpx 25rpx;
  margin-bottom: 15rpx;
  margin-right: 15rpx;
  display: inline-block;
}
