.label1{
    width: max-content;
    display: flex;
    align-items:center;
    background: #F9F9F2;
    height: 72rpx;
    border-radius: 36rpx 36rpx 36rpx 36rpx;
    opacity: 1;
    padding-left: 40rpx;
    padding-right: 40rpx;
    padding-top: 10rpx;
    padding-bottom: 10rpx;
    margin-right: 21rpx;
    margin-top: 27rpx;
}
.labeltext{
    font-size: 31rpx;
    font-family: Segoe UI-Regular, Segoe UI;
    font-weight: 400;
    color: #565656;
    line-height: 49rpx;
}