.evaluateInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 130rpx;
}

.reply-input {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  text-align: center;
  height: 100rpx;
}

.text-area-style {
  ::placeholder {
    text-align: center;
    /* 可能需要设置行高以确保居中效果 */
    line-height: 1.5; /* 根据实际需要调整行高 */
  }
}
