.ph_avatar {
  border: #d2d5d8 solid 4rpx;
  border-radius: 100%;
  margin-right: 28rpx;
}

.nickname {
  font-weight: bold;
  font-size: $font_size_sm;
  color: $color_text_heading;
}

.currentDate {
  font-weight: 400;
  font-size: 14rpx;
  color: #9f9f9c;
  margin-top: $space_md;
}

.publish-header {
  @include flex_align_center;
  flex: 1;
}
