.avatar {
  width: 90.58rpx;
  height: 90.58rpx;
  border-radius: 100%;
  margin-right: 10px;
  border: #d2d5d8 solid 5rpx;
  margin-right: 27rpx;
}

.nickname {
  font-weight: bold;
  font-size: 22rpx;
  color: #565552;
}

.currentDate {
  font-weight: 400;
  font-size: 14rpx;
  color: #9f9f9c;
  margin-top: 20rpx;
}

.publish-header {
  display: flex;
  align-items: center;
  flex: 1;
}
