@import '~taro-ui/dist/style/components/rate.scss';
@import '~taro-ui/dist/style/components/icon.scss';

.collection_course {
  width: 100%;
  height: 15vh;
  min-height: 15vh;
  border-radius: 2vh;
  background-color: #fffaec;
  color: #333333;
  display: flex;
  align-items: center;
  position: relative;
}

.collection_course .collection_course_type {
  width: 8vh;
  height: 8vh;
  border-radius: 2vh;
  background-color: white;
  position: absolute;
  left: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  color: #eda335;
  // box-shadow: -0.5vw 0.5vh 4px rgba(0, 0, 0, 0.1);
}

.collection_course .collection_course_detail {
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  left: 25vw;
}

.collection_course .collection_course_name {
  font-size: 34rpx;
  // font-weight: bold;
}

.collection_course .collection_course_description {
  width: 40vw;
  position: relative;
}

.collection_course .collection_course_teacher {
  margin-right: 5vw;
  font-size: 28rpx;
}

.collection_course .collection_course_rate {
  position: absolute;
  bottom: 0.1vh;
  right: 0;
}

.collection_course .collection_course_collected {
  width: 22vw;
  height: 5vh;
  background-color: white;
  border-radius: 2.5vh;
  position: absolute;
  right: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eda335;
  // box-shadow: -0.5vw 0.5vh 4px rgba(0, 0, 0, 0.1);
}

.collection_course .collection_course_collected.active {
  background-color: #eda335;
  color: #ffffff;
}
