.list_page_container {
  margin-top: 25%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .comment_type_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20rpx 30rpx;
    margin-bottom: 16rpx;

    .comment_type_item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12rpx 64rpx;
      border-radius: 40rpx;
      transition: all 0.2s ease;
      box-shadow:
        0 -4rpx 6rpx rgba(0, 0, 0, 0.05),
        0 4rpx 6rpx rgba(0, 0, 0, 0.05);

      .comment_type_text {
        font-size: 30rpx;
        letter-spacing: 6rpx;
        color: #cccccc;
      }

      &.active {
        background-color: #f9b94f;

        .comment_type_text {
          font-size: 30rpx;
          letter-spacing: 6rpx;
          color: #ffffff;
        }
      }
    }
  }
}
