.select {
  width: 100%;
  height: 3vh;
  display: flex;
}
.text {
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  font-family:
    Segoe UI-Bold,
    Segoe UI,
    serif;
  font-weight: bold;
}
.sjx {
  width: 0rpx;
  height: 0rpx;
  border-top: 21.74rpx solid #f18900;
  border-left: 12.68rpx solid transparent;
  border-right: 12.68rpx solid transparent;
  border-bottom: 21.74rpx solid transparent;
  position: absolute; /* 绝对定位 */
  right: 0; /* 右对齐 */
  //top: 50%; /* 垂直居中 */
  //transform: translateY(-50%); /* 垂直居中调整 */
}
.classes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rpx;
}

.eachClass {
  border-bottom: 1rpx solid #ffd777;
  height: 118rpx;
  width: 659rpx;
  position: relative;
  font-weight: 400;
  font-size: 29rpx;
  display: flex;
  align-items: center;
}

// .classteacher {
//   position: relative;
//   top: 20rpx;
//   left: 65rpx;
// }
.eachClass .circle{
  width: 27rpx;
  height: 27rpx;
  background-color: #ffd777;
  border-radius: 100%;
  margin-right: 10rpx;
}

.classstatus{
  color: #f18900;
  position: absolute;
  right: 70rpx;
}

// .classstatus {
//   color: #f18900;
//   position: relative;
//   left: 180rpx;
//   top: -15rpx;
// }

// .jt {
//   color: #f18900;
//   font-size: 60rpx;
//   position: relative;
//   left: 200rpx;
//   top: -5rpx;
// }

.jt{
  color: #f18900;
  position: absolute;
  right: 0;
  font-size: 50rpx;
}
