.select {
  width: 100%;
  height: 3vh;
  display: flex;
  position: relative;
}

.text {
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  font-family:
    Segoe UI-Bold,
    Segoe UI,
    serif;
  font-weight: bold;
  font-size: 5vw;
  white-space: nowrap;
}

.sjx {
  width: 0;
  height: 0;
  border-top: 4vw solid #f18900;
  border-left: 2vw solid transparent;
  border-right: 2vw solid transparent;
  border-bottom: 4vw solid transparent;
  position: absolute;
  right: 0;
}
.classes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.5vw;
}

.eachClass {
  border-bottom: 1px solid #ffd777;
  height: 20vw;
  width: 100vw;
  position: relative;
  font-size: 4.5vw;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.circle {
  width: 3vw;
  height: 3vw;
  background-color: #ffd777;
  border-radius: 50%;
  margin: 3vw;
}

.classInfo {
  display: flex;
  flex-direction: column;
}

.classname {
  font-weight: 500;
  width:60vw;
  overflow-wrap: break-word;
}

.classteacher {
  font-size: 4vw;
  color: #777;
}

.classstatus {
  color: #f18900;
  position: absolute;
  right: 15vw;
}

.jt {
  color: #f18900;
  position: absolute;
  right: 0;
  font-size: 10vw;
}
