.selector1 {
  font-size: 33rpx;
  font-family:
    Segoe UI-Bold,
    Segoe UI,
    serif;
  font-weight: bold;
  color: #565552;
  border-top: 2rpx solid #ffd777;
  border-right: 2rpx solid #ffd777;
  border-bottom: 2rpx solid #ffd777;
  width: 375rpx;
  height: 72.46rpx;
  box-sizing: border-box;
  position: relative;
}

.selector2 {
  font-size: 33rpx;
  font-family:
    Segoe UI-Bold,
    Segoe UI,
    serif;
  font-weight: bold;
  color: #565552;
  border-top: 2rpx solid #ffd777;
  border-bottom: 2rpx solid #ffd777;
  width: 375rpx;
  height: 72.46rpx;
  box-sizing: border-box;
  position: relative;
}

.text {
  font-size: 33rpx;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  font-family:
    Segoe UI-Bold,
    Segoe UI,
    serif;
  font-weight: bold;
}

.select {
  display: flex;
}

.sjx {
  width: 0rpx;
  height: 0rpx;
  border-top: 21.74rpx solid #f18900;
  border-left: 12.68rpx solid transparent;
  border-right: 12.68rpx solid transparent;
  border-bottom: 21.74rpx solid transparent;
  position: absolute; /* 绝对定位 */
  right: 0; /* 右对齐 */
  //top: 50%; /* 垂直居中 */
  //transform: translateY(-50%); /* 垂直居中调整 */
}
.classes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.eachClass {
  border-bottom: 1rpx solid #ffd777;
  height: 118rpx;
  width: 659rpx;
}

.classname {
  position: relative;
  top: -17rpx;
  left: 65rpx;
}
.classteacher {
}
.eachClass View {
  width: 27rpx;
  height: 27rpx;
  background-color: #ffd777;
  border-radius: 100%;
  position: relative;
  top: 50rpx;
  left: 9rpx;
}

.classstatus {
  color: #f18900;
  position: relative;
  left: 180rpx;
  top: -15rpx;
}

.jt {
  color: #f18900;
  font-size: 60rpx;
  position: relative;
  left: 200rpx;
  top: -5rpx;
}
