.theClassName {
  font-size: $font_size_hero;
  font-weight: bold;
  color: $color_text_heading;
  text-align: center;
  margin-top: 22rpx;
}

.teacherName {
  font-size: $font_size_subheading;
  font-weight: 400;
  color: $color_text_secondary;
  text-align: center;
  margin-top: 16rpx;
  margin-bottom: 28rpx;
}
