@import '~taro-ui/dist/style/components/flex.scss';
@import '~taro-ui/dist/style/components/list.scss';
@import '~taro-ui/dist/style/components/icon.scss';

.PersonalPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PersonalPage .personalPage_top_background {
  width: 115vw;
  height: 70vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  top: -35vh;
}

.PersonalPage .personalPage_user_container {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 12vh;
  left: 10vw;
}

.PersonalPage .personalPage_user_photo {
  background-color: white;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
}

.PersonalPage .personalPage_user_details {
  width: 40vw;
  height: 20vw;
  display: flex;
  align-items: end;
  position: relative;
}

.PersonalPage .personalPage_username {
  width: 100%;
  font-size: 6vw;
}
.PersonalPage .personalPage_icon {
  width: 100%;
  font-size: 6vw;
  color: white;
}
.PersonalPage .personalPage_exp_value {
  width: 100%;
  color: orange;
  font-size: 3vw;
  font-weight: bold;
  position: absolute;
  right: -38vw;
  bottom: 6vw;
}

.PersonalPage .personalPage_progress_line {
  position: absolute;
  bottom: 1vh;
  display: flex;
}

.PersonalPage .personalPage_exp_text {
  font-size: 4vw;
  color: orange;
  font-weight: bold;
}

.PersonalPage .personalPage_progress {
  width: 37vw;
}

.PersonalPage .personalPage_list {
  width: 90vw;
  position: relative;
  bottom: 30vh;
}
