.OfficialNotification {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  position: relative;
}

.OfficialNotification .officialnotification_notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.OfficialNotification .officialnotification_time {
  font-size: 1.5vh;
  color: #565552;
}

.OfficialNotification .officialnotification_detail {
  width: 90vw;
  height: 30vh;
  background-color: #f9f9f2;
  border-radius: 5vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.OfficialNotification .officialnotification_image {
  flex: 3;
  border-bottom: 0.3vh solid #ffd777;
}

.OfficialNotification .officialnotification_text {
  flex: 1;
  position: relative;
}

.OfficialNotification .officialnotification_title {
  position: absolute;
  left: 7vw;
  top: 0.5vh;
  font-size: 2.2vh;
}

.OfficialNotification .officialnotification_description {
  position: absolute;
  left: 7vw;
  top: 3.5vh;
  font-size: 1.8vh;
  color: #565552;
}

.OfficialNotification .officialnotification_alert {
  width: 90vw;
  height: 8vh;
  background-color: #f9f9f2;
  border-radius: 3vh;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.8vh;
}

.OfficialNotification .officialnotification_alert_text {
  position: absolute;
  left: 5vw;
  font-size: 1.8vh;
  color: #F18900;
}
