.title-button {
  width: 20vw;
  height: 3vh;
  color: #f19900;
  font-size: 20rpx;
}

.title-button.selected {
  background-color: gray;
  color: white;
}
.title-button:disabled {
  background-color: lightgray;
  color: darkgray;
}
