// .title {
//   font-size: 50rpx;
//   text-align: center;
//   font-weight: bold;
//   margin: auto;
//   display: block;
// }
.card {
  width: 90%;
  height: 60%;
  margin: 10vh;
  font-size: 35rpx;
}
