.title {
  font-size: 50rpx;
  text-align: center;
  font-weight: bold;
  margin: auto;
  display: block;
}
.card {
  padding-top: 10rpx;
  width: 80%;
  height: 60%;
  margin: auto;
  font-size: 35rpx;
}
