.avatar-container {
  display: flex;
}
.avatar-text {
  font-size: 32.61rpx;
  width: 130.43rpx;
  height: 43.48rpx;
}
.avatar {
  background-color: white;
  width: 144.93rpx;
  height: 144.93rpx;
  border-radius: 50%;
  border: #ffd777 solid 1.81rpx;
}
.nickname-container {
  display: flex;
}
.nickname-text {
  font-size: 32.61rpx;
  width: 130.43rpx;
  height: 43.48rpx;
}
.nickname {
  height: 43.48rpx;
  width: 228.26rpx;
}
.title-container {
  display: flex;
}
.cancel-button {
  width: 300rpx;
  height: 81rpx;
  background: #f9f9f2;
}
.save-button {
  width: 300rpx;
  height: 81rpx;
  background: #f19900;
}
.button-container {
  display: flex;
}
