.avatar-container {
  display: flex;
  position: absolute;
}
.avatar-text {
  font-size: 32.61rpx;
  width: 130.43rpx;
  height: 43.48rpx;
}
.avatar {
  background-color: white;
  width: 144.93rpx;
  height: 144.93rpx;
  border-radius: 50%;
  border: #ffd777 solid 1.81rpx;
}
