.avatar-container {
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: space-between;
  width: calc(100% - 10vw);
  height: 13vh;
}
.avatar-text {
  font-size: 4.5vw;
  width: 20vw;
  height: 43.48rpx;
  align-content: center;
  color: #565552;
  margin-left: 10%;
}
.title-text {
  font-size: 4.5vw;
  width: 20vw;
  height: 43.48rpx;
  align-content: center;
  color: #565552;
  margin-left: 10%;
}

.avatar1 {
  background-color: white;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  border: #ffd777 solid 1.81rpx;
  align-content: center;
  // margin-right: 25%;
}
.nickname-container {
  display: flex;
  width: calc(100% - 10vw);
  height: 13vh;
  align-items: center; /* 垂直居中 */
  justify-content: space-between;
}
.nickname-text {
  font-size: 4.5vw;
  width: 20vw;
  height: 43.48rpx;
  align-content: center;
  color: #565552;
  margin-left: 10%;
}
.nickname {
  height: 43.48rpx;
  width: 50vw;
  font-size: 4.5vw;
  display: flex;
  gap: 1vw;
  align-items: center;
  justify-content: flex-end;
}
.editor-nickname {
  width: 4vw;
  height: 4vw;
}
.divide-line {
  border: 3.2rpx dashed #ffd777;
  width: 90%;
  margin: 0 auto;
}

.title-container {
  display: flex;
  align-items: center; /* 垂直居中 */
  justify-content: space-between;
  width: 100vw;
  height: 13vh;
}
.cancel-button {
  width: 220rpx;
  height: 72rpx;
  line-height: 72rpx;
  border-radius: 16rpx;
  background: #C2C2C2;
}
.save-button {
  width: 220rpx;
  height: 72rpx;
  line-height: 72rpx;
  border-radius: 16rpx;
  background: #F9B94F;
  color: white;
}
.logout-button {
  margin-top: 10vw;
  width: 40vw;
  height: 10vh;
}
