.featureLabel {
  width: max-content;
  border-radius: $radius_lg 24rpx 24rpx 24rpx;
  border: 1px solid transparent;
  font-size: $font_size_caption;
  font-family:
    Segoe UI-Regular,
    Segoe UI;
  padding: 6rpx 24rpx;
}
