.featureLabel {
  width: max-content;
  border-radius: 24rpx 24rpx 24rpx 24rpx;
  border: 1px solid transparent;
  font-size: 24rpx;
  font-family:
    Segoe UI-Regular,
    Segoe UI;
  padding: 6rpx 24rpx;
}
