.label3{
    width:max-content;
    background: #F9F9F2;
    box-shadow: 0rpx 5rpx 11rpx 2rpx rgba(0,0,0,0.16);
    border-radius: 16rpx 16rpx 16rpx 16rpx;
    opacity: 1;
    font-size: 22rpx;
    font-family: Segoe UI-Regular, Segoe UI;
    font-weight: 400;
    color: #F18900;
    padding-left: 20rpx;
    padding-right: 20rpx;
    padding-top: 5rpx;
    padding-bottom: 5rpx;
    margin-bottom: 15rpx;
    margin-right: 15rpx;
    display: inline-block;
}