.searchInput {
  background-color: #f9f9f2;
  width: 80vw;
  height: 4vh;
  border-radius: 18.12rpx 18.12rpx 18.12rpx 18.12rpx;
  padding: 4vw;
}
.search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4vw;
  z-index: 999;
  display: flex;
}
