@import '~taro-ui/dist/style/components/icon.scss';

.guild_line {
  width: 100vw;
  height: 13vh;
  position: fixed;
  bottom: 0;
  background-color: #f9f9f2;
  box-shadow: 0 -1vh 1vh rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.add_button {
  width: 8vh;
  height: 8vh;
  background-color: #f18900;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.add_sign {
  color: white;
  font-size: 8vh;
  position: relative;
  bottom: 0.5vh;
}
