@import '~taro-ui/dist/style/components/icon.scss';

.MyCollection {
  display: flex;
  justify-content: center;
  position: relative;
}

.MyCollection .mycollection_searchbar {
  width: 80vw;
  height: 8vh;
  background-color: #f9f9f2;
  border-radius: 2vh;
  position: absolute;
  top: 3vh;
  display: flex;
  align-items: center;
}

.MyCollection .mycollection_search_input {
  width: 60vw;
  height: 100%;
  position: absolute;
  left: 5vw;
  font-size: 2.2vh;
}

.MyCollection .mycollection_search_button {
  position: absolute;
  right: 5vw;
  font-size: 2.2vh;
}

.MyCollection .mycollection_text {
  position: absolute;
  top: 13vh;
  left: 5vw;
  font-size: 2vh;
  color: #565552;
}

.mycollection_collections {
  width: 90vw;
  height: 70vh;
  position: absolute;
  top: 20vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  overflow: scroll;
}
