@import '~taro-ui/dist/style/components/icon.scss';

.MyCollection {
  display: flex;
  justify-content: center;
  position: relative;
}

.MyCollection .mycollection_searchbar {
  width: 100%;
  height: 72rpx;
  position: absolute;
  top: 18rpx;
}

.MyCollection .mycollection_search_input {
  width: calc(100% - 80rpx);
  height: 100%;
  padding-left: 80rpx;
  font-size: 2.2vh;
}

.MyCollection .mycollection_search_button {
  position: absolute;
  left: 50rpx;
  top: 50%;
  transform: translateY(-50%);
  color: #8c8c8c;
  font-size: 32rpx;
}

.MyCollection .mycollection_text {
  position: absolute;
  top: 122rpx;
  left: 5vw;
  font-size: 2vh;
  color: #333333;
}

.mycollection_collections {
  width: 90vw;
  height: calc(70vh - 96px);
  position: absolute;
  top: 12vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  overflow: scroll;
}
