@import '~taro-ui/dist/style/components/icon.scss';

.MyCollection {
  box-sizing: border-box;
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: #ffffff;

  .mycollection_searchbar {
    box-sizing: border-box;
    width: 100%;
    height: 72rpx;
    padding: 0 32rpx;
  }

  .mycollection_info_container {
    margin: 24rpx auto;
    width: 90%;

    .mycollection_info_text {
      font-size: 32rpx;
      color: #333333;
      font-weight: 500;
    }
  }

  .mycollection_collections {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 20rpx;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
