//@import '../../lib/style/font.scss';
$content-line-height: 30;
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
// @font-face {
//   font-family: 'iconfont'; /* Project id 4326563 */
//   src:
//     url('//123/t/c/font_4326563_5kfmphwtn65.woff2?t=1699759598184') format('woff2'),
//     url('//123/t/c/font_4326563_5kfmphwtn65.woff?t=1699759598184') format('woff'),
//     url('//123/t/c/font_4326563_5kfmphwtn65.ttf?t=1699759598184') format('truetype');
// }

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 30rpx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f18900;
}

.comment {
  position: relative;
  .tx {
    width: 92.39rpx;
    height: 92.39rpx;
    background-color: white;
    border-radius: 50%;
    border: #d2d5d8 solid 5rpx;
    float: left;
    background-size: contain;
    //background-image: url("https://thirdqq.qlogo.cn/qqapp/1109891254/F03D55D191E57BA9D69CF8DF5F80414D/100");
  }
  .userName {
    position: absolute;
    left: 130rpx;
    top: 13.5rpx;
    font-size: 22rpx;
    font-weight: bold;
    color: #565552;
  }
  .likes {
    position: absolute;
    right: 0rpx;
    bottom: 20rpx;
  }
}

.bigcomment {
  .commentplus {
    position: relative;
    margin-left: 45rpx;
    margin-right: 45rpx;
    background: #FFFAEC;
    border-radius: 43rpx 43rpx 43rpx 43rpx;
    opacity: 1;
    border: 2rpx solid #f9f9f2;
    padding-top: 38rpx;
    padding-left: 36rpx;
    padding-right: 25rpx;
    display: flex;
    flex-direction: column;
    .classTitle {
      height: 43rpx;
      font-family:
        Segoe UI,
        Segoe UI;
      font-weight: bold;
      font-size: 33rpx;
      color: #565552;
      font-style: normal;
      text-transform: none;
      margin-bottom: 40rpx;
    }
    .comment {
      position: relative;
      width: 600rpx;
      display: flex;
      flex-direction: column;
      margin-top: 10rpx;
      .stars {
        position: absolute;
        left: 130rpx;
        top: 50rpx;
      }
      .fire {
        width: 38rpx;
        height: 38rpx;
        position: absolute;
        top: 50rpx;
        right: 0rpx;
      }
      .time {
        position: absolute;
        top: 13.5rpx;
        right: 0rpx;
        // margin-right: 36rpx;
        font-size: 22rpx;
        font-family:
          Segoe UI-Regular,
          Segoe UI;
        font-weight: 400;
        color: #565552;
      }
    }
    .content {
      // clear: both;
      font-size: 28rpx;
      font-family:
        Segoe UI-Regular,
        Segoe UI;
      font-weight: 400;
      line-height: calc(#{$content-line-height + 6}rpx);
      color: #565552;
      margin: 30rpx 0;
      // height: calc(#{$content-line-height}rpx);
      overflow: hidden;
    }
    .likes {
      margin-top: 25rpx;
      margin-left: 45rpx;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 25rpx;
    }
  }
  .icon {
    position: relative;
    width: 50rpx;
    height: 50rpx;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
    opacity: 1;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 40rpx;
    margin-left: 30rpx;
    margin-right: 15rpx;
    > Iconfont {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .text1 {
    font-size: 28rpx;
    // font-weight: bold;
    // color: black;
    color: #3D3D3D;
    line-height: 50rpx;
  }
}
.text-overflow {
  line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3; //多行在这里修改数字即可
  overflow: hidden;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}
.text-showAll {
  height: auto !important;
}
