.label1 {
  width: max-content;
  display: flex;
  align-items: center;
  background: #fffaec;
  height: 36rpx;
  border-radius: 18rpx;
  opacity: 1;
  padding-left: 40rpx;
  padding-right: 40rpx;
  padding-top: 10rpx;
  padding-bottom: 10rpx;
  margin-right: 21rpx;
  margin-top: 27rpx;
}
.labeltext {
  font-size: 24rpx;
  font-family:
    Segoe UI-Regular,
    Segoe UI;
  font-weight: 400;
  color: #3d3d3d;
  line-height: 36rpx;
}
