.MessageNotification {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 2vh;
  gap: 4vh;
  overflow: scroll;
}

.MessageNotification .messageNotification_message {
  width: 90vw;
  display: flex;
  gap: 5vw;
}

.MessageNotification .messageNotification_photo {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  background-color: #F9F9F2;
}

.MessageNotification .messageNotification_detail {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.MessageNotification .messageNotification_username{
  font-size: 2.2vh;
  font-weight: bold;
}

.MessageNotification .messageNotification_event{
  display: flex;
}

.MessageNotification .messageNotification_event_type{
  font-size: 2.2vh;
  color: #D2D5D8;
}

.MessageNotification .messageNotification_description{
  font-size: 2.2vh;
  font-weight: lighter;
}

.MessageNotification .messageNotification_comment{
  font-size: 2.2vh;
  color: #D2D5D8;
  border-left: 1vw solid #D2D5D8;
  padding-left: 1vw;
}

.MessageNotification .messageNotification_reply{
  width: 65vw;
  height: 3vh;
  border-radius: 2vh;
  background-color: #F9F9F2;
  position: relative;
  display: flex;
  align-items: center;
}

.MessageNotification .messageNotification_reply_text{
  position: absolute;
  left: 3vw;
  font-size: 1.8vh;
  color: #D2D5D8;
}
